#principal{
    border:solid 1px rgb(118, 150, 255);
    background-color: rgb(183, 205, 252);
    margin:0 auto;
    padding: 5px;
    width: 80%
}
img{
    float:left;
    margin: 20px;
}
h2{
    margin-top:60px;
}
p{
    margin-top: -10px;
    margin-bottom: 71px;
}

fieldset{
    font-family: "Verdana";
    font-size: 10pt;
    border-radius: 25px;
    margin-bottom: 10px;
}

legend{
    border: solid 1px;
    font-size: 12pt;
    padding: 5px;
    font-weight:bold;
    border-radius: 20px;
    background: rgb(207, 163, 174);
    font-family: "Verdana"
}
.container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.skill {
    background-color: rgb(92, 124, 194);
    color: black;
    text-align: right;
    font-size: 15px;
    border-radius: 15px;
}

.html {
    width: 50%;
}

.php {
    width: 60%;
}

.c{
    width: 70%;
}

.catala{
    width: 100%;
}

.angles{
    width: 70%;
}

.frances{
    width: 50%;
}
