#principal{
    border:solid 1px rgb(118, 150, 255);
    margin:0 auto;
    padding: 5px;
    width: 80%
}
img{
    float:left;
    margin: 20px;
}
h2{
    margin-top:60px;
}
p{
    margin-top: -10px;
    margin-bottom: 65px;
}

fieldset{
    font-family: "Verdana";
    font-size: 10pt;
    border-radius: 25px;
    margin-bottom: 10px;
}

legend{
    border: solid 1px;
    font-size: 12pt;
    padding: 5px;
    font-weight:bold;
    border-radius: 20px;
    background: rgb(207, 207, 207);
    font-family: "Verdana"
}